.fortune-wrapper{
  height: 100vh;
  background: rgb(253, 253, 239);
}

.fortune-title{
  text-align: center;
  font-size: 4vw;
  animation: flash 4s linear infinite;
}

@keyframes flash {
  0%,50%,100% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    color: limegreen;
  }
  65%{
    opacity: 1;
    color:#0091EA;
  }
}

#roulette{
  height: 300px;
  width: 300px;
  font-size: 30px;
  background: skyblue;
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 300px;
  margin: 100px auto;
  box-shadow: 0 15px 0 rgb(124, 184, 207);
  user-select: none;
}

.btns{
  text-align: center;
}
#start , #stop {
  height:50px;
  width: 120px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 0 45px;
  color: #42dbe6;
  outline:none;
  border:solid 1px #42dbe6;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  &:hover{
    color: slateblue;
  } 
}

.return-from-fortune{
  text-align: right;
  margin-right: 50px;
}
  
.fortune-footer{
  height: 170px;
  width: 25%;
  margin: 0 auto;
  background-image: image-url("blood-type.png");
  background-size: cover;
}