.fortune-wrapper
  .fortune-title
    あなたの血液型の運勢を占おう！
  .fortune-teller
    #roulette
      #result
        あなたの運勢は？
    .btns
      %button#start start
      %button#stop stop
  .return-from-fortune
    = link_to "トップページに戻る", root_path
  .fortune-footer      
%script{:src => "fortune.js"}
