body{
  font-family: 'Comic Sans MS','Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  background: rgb(245, 245, 245);
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

h2 {
  font-size: 22px;
  line-height: 1.4;
}

h3 {
  font-size: 16px; 
}

.bold {
  font-weight: 600;
}

a{
  color: gray;
  text-decoration: none;
  &:hover{
    opacity: 0.5;
  }
}

